/* DT173G Webbutveckling III
Moment 2 - NodeJs & Gulp
Mattias Bygdeson */

/* HEADER AND MAIN MENU */
header {
    background: #1b2b34;
    padding: 2% 2% 2% 10%;
}

header h1 a {
    color: #fac863;
    text-decoration: none;
}

header h1 {
    margin-bottom: 0;
}