// Articles
article {
    img {
        width: 100%;
        height: auto;
    }
}

.lesser-article {
    h1 {
        font-size: 245%;
    }
}

// Headlines
h1 {
    font-family: $font-hamster;
    color: $color-primary;
    font-weight: 100;

    font-size: 400%;
    margin-bottom: 0;
    margin-top: 10px;

    a {
        color: $color-primary;
    }

    a:visited {
        color: $color-primary;
    }
}

h2 {
    @extend h1;
    
    font-family: $font-stack;
    color: $color-off-black;
    font-weight: 400;
    font-size: 190%;
    margin-top: 30px;
}

h3 {
    @extend h2;

    font-size: 140%;
}

// Text
p {
    font-size: 110%;
    margin-top: 10px;
}

.ingress {
    font-size: 120%;
    font-weight: bold;
    padding-left: 1%;

    box-sizing: border-box;
    border: solid $color-primary;
    border-width: 0 0 0 10px;
}

// Links
a {
    color: $color-secondary;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: darken( $color-secondary, 25% );
}

@media screen and (max-width: $small_screen_size) {
    .ingress {
        padding-left: 4%;
    }
}