// Articles
article {
    img {
        width: 100%;
        height: auto;
    }
}

.lesser-article {
    h1 {
        font-size: 175%;
    }
}

// Headlines
h1 {
    color: $color-primary;
    font-size: 220%;
    margin-bottom: 0;

    a {
        color: $color-primary;
    }

    a:visited {
        color: $color-primary;
    }
}

h2 {
    color: $color-primary;
    margin-top: 30px;
    margin-bottom: 0;
}

// Text
p {
    font-size: 110%;
}

.ingress {
    font-weight: bold;
    padding-left: 1%;

    box-sizing: border-box;
    border: solid $color-primary;
    border-width: 0 0 0 10px;
}

// Links
a {
    color: $color-secondary;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: darken( $color-secondary, 25%);
}