footer {
    background-color: $color-off-black;
    color: $color-gray;


    p {
        line-height: 1.5em;
        text-align: center;
        font-size: 90%;
        margin-bottom: 20px;
    }
}
