// General
body {
    font-family: $font-stack;
    color: $color-off-black;
    background-color: desaturate($color-secondary, 30%);
}

.wrapper {
    box-shadow: 0px 0px 30px rgba( $color-off-black, .6 );
}

// Mixins
@mixin transform($property) {
    transform: $property;
}

@media screen and (max-width: $medium-screen-size) {
    body {
        background-color: $color-off-black;
    }
}