header {
    img {
        max-width: 200px;
        height: auto;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        background: blue;
        height: 30px;
        margin: 2%;
        padding-left: 40px;
        padding-top: 10px;
    }

    a {
        text-decoration: none;
        color: $color-off-white;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: $medium_screen_size) {
    header {
        img {
            width: 30%;
            display: inline-block;
            position: relative;
            top: 45px;
        }

        nav {
            text-align: right;
        }

        nav ul {
            display: inline;
        }

        nav li {
            text-align: left;
            width: 10%;
            display: inline-block;
            margin: 0%;
        }
    }
}

@media screen and (max-width: $small_screen_size) {
    
}