// Everything controlling the CSS-grid, layout, margins, etc
body {
    margin: 0;
    margin-top: 0;
}

.website-header {
    grid-area: header;
    padding: $grid-margin;
}

main {
    grid-area: main;
    background-color: $color-off-white;
    padding: $grid-margin;
}

article {
    margin: 0 4% 2% 0;
    padding: $grid-margin;
}

article:last-of-type {
    margin-right: 0;
}

footer {
    grid-area: footer;
    padding: $grid-margin;
}

.wrapper {
    margin: auto;
    max-width: 1344px;
    display: grid;
    grid-template-columns: fit-content(40%);
    grid-template-areas:
        'header main main main main'
        'footer footer footer footer footer';
}

.articles-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

// Break point
@media screen and (max-width: $medium_screen_size) {
    body {
        margin-top: 0px;
        position: relative;
        top: -40px;
    }

    .wrapper {
        grid-template-columns: auto;

        max-width: 100%;
        grid-template-areas:
            'header'
            'main'
            'footer';
    }
}

// Break point
@media screen and (max-width: $small_screen_size) {
    body {
        top: -0px;
        // position: initial;
    }

    article {
        margin-right: 0;
        margin-bottom: 2%;
    }

    .articles-wrapper {
        display: grid;
        grid-template-columns: auto;
    }
}