$grid-margin: 10px;

body {
    margin: 0;
    margin-top: 0;
    background-color: desaturate($color-secondary, 30%);
}

.website-header {
    grid-area: header;
    background-color: $color-secondary;
    padding: $grid-margin;
}

main {
    grid-area: main;
    background-color: $color-off-white;
    padding: $grid-margin;
}

article {
    margin: 0 4% 2% 0;
    padding: $grid-margin;
}

article:last-of-type {
    margin-right: 0;
}

footer {
    grid-area: footer;
    background-color: $color-off-black;
    color: $color-off-white;
    padding: $grid-margin;
}

.wrapper {
    margin: auto;
    max-width: 70%;
    display: grid;
    grid-template-columns: fit-content(40%);
    grid-template-areas:
        'header main main main main'
        'footer footer footer footer footer';

    box-shadow: 0px 0px 30px rgba( $color-off-black, .6 );
}

.articles-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: $medium_screen_size) {
    body {
        margin-top: 0px;
        position: relative;
        top: -40px;
    }

    .wrapper {
        grid-template-columns: auto;

        max-width: 100%;
        grid-template-areas:
            'header'
            'main'
            'footer';
    }
}

@media screen and (max-width: $small_screen_size) {
    $grid-margin: 5px;

    article {
        margin-right: 0;
        margin-bottom: 2%;
    }

    .articles-wrapper {
        display: grid;
        grid-template-columns: auto;
    }
}