// Variables
$font-stack: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;

$color-off-white: #e9e5df;
$color-off-black: #1a2b33;
$color-primary: #5fb3b3;
$color-secondary: #ec5f67;

$medium_screen_size: 1100px;
$small_screen_size: 600px;

$grid-margin: 10px;