// Main settings

// Variables
$font-stack: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
$color-off-white: #cdd3df;
$medium_screen_size: 1100px;
$small_screen_size: 600px;

// Import
@import 'header';
@import 'layout';

body {
    font-family: $font-stack;
}

.main-article {
    img {
        width: 100%;
    }
}

// ARTICLES
article {
    margin: 0 4% 2% 0;
    padding: $grid-margin;
    
    border-style: solid;
}

article:last-of-type {
    margin-right: 0;
}